# This is a configuration file for Zabbix agent daemon (Unix)
# To get more information about Zabbix, visit http://www.zabbix.com

############ GENERAL PARAMETERS #################
PidFile={{ zabbix_basedir }}{{ zabbix_agentd_PidFile }}
# LogType=file
LogFile={{ zabbix_basedir }}{{ zabbix_agentd_LogFile }}
LogFileSize=0
# DebugLevel=3
# SourceIP=
EnableRemoteCommands=0
# LogRemoteCommands=0

##### Passive checks related
Server={{ zabbix_server }}
ListenPort={{ zabbix_agentd_Port }}
# ListenIP=0.0.0.0
StartAgents={{ zabbix_agentd_StartAgents }}

##### Active checks related
ServerActive={{ zabbix_server }}
# Hostname=Zabbix server
HostnameItem=system.hostname
# HostMetadata=
HostMetadataItem=system.uname
# RefreshActiveChecks=120
# BufferSend=5
# BufferSize=100
# MaxLinesPerSecond=20

############ ADVANCED PARAMETERS #################
Timeout=10
# AllowRoot=0
# User=zabbix
{% if zabbix_user is defined %}
User={{ zabbix_user }}
{% endif %}
Include={{ zabbix_basedir }}/etc/zabbix_agentd.conf.d/*.conf

####### USER-DEFINED MONITORED PARAMETERS #######
UnsafeUserParameters=1
# UserParameter=

####### LOADABLE MODULES #######
# LoadModulePath=${libdir}/modules
# LoadModule=

####### TLS-RELATED PARAMETERS #######
# TLSConnect=unencrypted
# TLSAccept=unencrypted
# TLSCAFile=
# TLSCRLFile=
# TLSServerCertIssuer=
# TLSServerCertSubject=
# TLSCertFile=
# TLSKeyFile=
# TLSPSKIdentity=
# TLSPSKFile=
